.book-shelf {
  font-size: 4vw;
  #btn-add-book {
    display: none;
  }
  .add-book-lable {
    cursor: pointer;
    display: flex;
    img {
      height: 2rem;
    }
    .add-book-text {
      padding: 0 0.8rem;
    }
  }
  .collection {
    padding-inline-start: 0;
    li {
      cursor: pointer;
      display: flex;
      line-height: 2;
      justify-content: space-between;
    }
  }
}
