$column-gap-width: 2.8rem;
$page-switcher-width: $column-gap-width / 2;
$text-info-height: 2.2vh;
$text-info-width: 2.2vw;
$reader-font-size: calc(16px + 1vw);
$reader-line-height: calc(1.1em + 0.5vw);
$available-height: 100vh;
$available-width: 100vw;
$page-color: #d8b67d;

.reader {
  background-color: $page-color;

  .text-container {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0 auto;
    font-size: $reader-font-size;
    left: $page-switcher-width;

    .text {
      font-family: 'Adobe Garamond';
      text-align: justify;
    }
  }

  .book-view {
    .text {
      column-count: 2;
      width: 200%;
      height: 100%;
      column-gap: $column-gap-width;
    }
    .text-container {
      overflow-y: hidden;
    }
  }

  .text-info {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid grey;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    font-size: 0.8rem;
    background-color: white;

    :last-child {
      padding-right: 1rem;
    }
    .text-name {
      max-width: 75%;
    }
  }

  .text-cover .image-wrapper {
    text-align: center;
    img {
      height: 90vmin;
    }
  }

  .section {
    padding: 10px;
  }
  p {
    line-height: $reader-line-height;
    font-weight: 500;
  }

  .highlight {
    @for $i from 1 through 100 {
      .w#{$i} {
        color: black + $i * 1.8;
      }
    }
  }

  .page-controls {
    position: fixed;
    width: $page-switcher-width * 4;
    height: 75%;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .next-page {
    @extend .page-controls;
    right: 0;
  }
  .prev-page {
    @extend .page-controls;
    left: 0;
  }

  .hidden {
    display: none;
  }
  .p-fixed {
    position: fixed;
  }
  .z-max {
    z-index: 100;
  }
  .text-wrapper {
    background-image: url('./page2.jpg');
    background-size: contain;
    opacity: 0.9;
    padding: 0 16px;
  }
}
